@using Domain
@model Web.ViewModels.FloorsViewModel;

@{
    foreach (var floor in Model.Floors)
    {
    <div style="padding-bottom: 20px; text-align: left">
        <div>Floor number: @floor.FloorNumber, Free spaces: @floor.Spaces.Count(x => x.IsFree)</div>
        @foreach (var space in floor.Spaces)
        {

        if (space.IsFree)
        {
        <span>Free @(space.HaveElectricSupport? "(Eve)": "")</span>
        }
        else
        {
        <span> @space.CarNumber @(space.HaveElectricSupport? "(Eve)": "")</span>
        }

        }
    </div>
    }
}